crawlers/.scrapy
.venv
.vscode
.gitpod.Dockerfile
.gitpod.yml
.idea/
.ipynb_checkpoints/
__pycache__/
alembic/versions/
dask-worker-space/
sqlite.db
*.log
exceptions/
.pytest_cache/
node_modules/
*.sqbpro
*.env